
.env
trackerito-83f27862540c.json
.tiimezone_not_implemented.py
.spotifyplaylist.py
.#timezone.py
.#code meal working before idk.py
.# Timezone.py
.#og code2.py
.#OG CODE - WORKING.py
/__pycache__/
D:\tracker_pokusy\docker isn't used
